@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-color: ;
    --primary-color: ;
    --secondary-color: ;

    --button-color: ;
    --button-text: ;
}

* {
    font-family: 'Montserrat', monospace;

    /* Resetting the Box Model Properties */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ! Temp */
    color: hsl(0 0% 20%);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
    background-size: contain;

    /* Flex Properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Main Sections */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    min-width: 100%;
}

/* Navigation Bar */
.navBar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: rgba(237, 237, 237, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    position: fixed;
    z-index: 10;
    width: 100%;
}

.navBar .nav-links {
    list-style: none;

    display: flex;
    justify-content: space-between;
    gap: 50px
}

.nav-links #link {
    position: relative;
    transition: all ease 0.2s;
    font-weight: 500;

    text-decoration: none;
}

.nav-links #link:hover,
.nav-links #link:focus {
    color: hsl(190, 85%, 45%);
    cursor: pointer;
}

.nav-links #link::before {
    content: '';
    position: absolute;
    background-color: hsl(190, 85%, 45%);
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all ease 0.2s;
    
    pointer-events: none;
}

.nav-links #link:hover::before,
.nav-links #link:focus::before {
    width: 100%;
}

/* Landing Page/Section */
.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 75px;
    margin-bottom: 150px;
    position: relative;
    min-height: 90vh;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;

    z-index: 2;
    position: relative;
}

.hero-content h1 {
    font-size: 3.8rem;
    font-family: 'Playfair Display';
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10%;

    color: hsl(0 0% 40%)
}

.floating-image-wrapper {
    position: absolute;
    transition: all ease 0.4s;
}

.floating-image-wrapper:hover {
    transform: rotate(0deg);
}

.floating-image-wrapper img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);

    transition: all ease 0.3s;
}

.floating-image-wrapper img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.floating-image-1 {
    top: 0;
    left: 1.5%;
    transform: rotate(-2deg);
}

.floating-image-2 {
    top: 0;
    right: 1.5%;
    transform: rotate(3deg);
}

.floating-image-3 {
    bottom: 3.5%;
    left: 1.5%;
    transform: rotate(-3deg);
}

.floating-image-4 {
    left: 17%;
    top: 0px;
    transform: rotate(3deg);
}

.floating-image-5 {
    bottom: 3.5%;
    right: 2%;
    transform: rotate(-5deg);
}

.floating-image-6 {
    bottom: 3.5%;
    right: 20%;
    transform: rotate(2deg);
}

/* Floating Image Resizing */
.floating-image-wrapper img{
    width: auto;
}

.floating-image-1 img {
    height: 320px;
}

.floating-image-2 img {
    height: 230px;
}

.floating-image-3 img {
    height: 270px;
}

.floating-image-4 img {
    height: 200px;
}

.floating-image-5 img {
    height: 350px;
}

.floating-image-6 img {
    height: 250px;
}


/* Explore Page/Section */
.explore-section {
    scroll-margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

.explore-art-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    padding: 0 30px;
}

.art-item {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
}

.art-item:hover {
    transform: scale(1.02);
}

.art-item {
    position: relative;
    width: 100%;
}

.art-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
    cursor: pointer;
}

.art-info{
    display: none;
}

/* Image Overlay Contents */
.art-image-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 50%);
    
    opacity: 0;

    transition:  all ease-in-out 0.3s;
}

.art-image-overlay:hover {
    opacity: 1;
}

.overlay-contents {
    display: flex;
    justify-content: space-between;
}

.art-overlay-info {
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay-icon {
    position: absolute;
    right: 0;
    padding-top: 10%;
    padding-right: 5%;
    color: #d9d9d9;

    cursor: pointer;
}

.art-overlay-info h3,
.art-overlay-info p {
    color: #d9d9d9;
}

.art-overlay-info h3 {
    font-size: 1.2rem;
}

.art-overlay-info p {
    font-size: 1rem;
}

.overlay-icon::before {
    
}

/* Explore Content */
.explore-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 40px;
}

.explore-header h2 {
    font-family: 'Playfair Display';
    font-size: 2.5rem;
}

.explore-header p {
    font-weight: 500;
    font-size: 1.2rem;
}

.explore-button #explore-btn {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0 0% 20%);
    color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;

    transition: all ease 0.2s;
}

.explore-button #explore-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* About Page/Section */
.about-section {
    scroll-margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 150px;
}

.about-content {
    position: relative;

    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.about-head h2 {
    font-family: 'Playfair Display';
    font-size: 3rem;
}

.about-descp {
    max-width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.about-descp p {
    font-size: 1.1rem;
    line-height: 30px;
    color: #f8f8f8;
}

.about-image-background {
    position: absolute;
    z-index:  -1;
    width: 100%;
    height: 90%;
    top: 15%;
    left: 0;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-image-background img {
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.about-image-overlay {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90%;

    left: 0;
    top: 15%;
}
